<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill of Ladding</title>
    <style>
        body{
            background:lightgrey;
        }
        .grid-container {
          display: grid;
          grid-template-columns: repeat(3, 1fr); /* First and Third Row - creates 3 columns of equal width */
          grid-gap: 0px; /* adds a gap between columns */
          max-width: 1000px; /* sets a maximum width for the grid container */
          padding-left:30px;
          padding-right:30px;
          padding-top:15px;
          padding-bottom:15px;
          background:white;
          width: 100%; /* sets the width of the grid container to 60% */
          margin: 0 auto; /* centers the grid container horizontally */
        }

        .column {
          background-color: #ffffff;
          padding: 20px;
          text-align: left;
          border: 1px solid black; /* adds a 1px black border to each column */
          margin: 0px;
        }


        /* Second and Fourth Row - spans 3 columns */
        .span-3 {
          grid-column: 1 / span 3;
        }

        /* Fifth to Eighth Row - full-width columns */
        .full-width {
          grid-column: 1 / -1;
        }

        .column h2 {
          font-size: 24px;
          margin-bottom: 10px;
          margin-top:-10px;
        }

        .column p {
          font-size: 16px;
          margin-bottom: 5px;
        }
        .pu{
            margin:0;
            margin-top:-20px;
            margin-bottom:-20px;
            float:left;
            width:44%;
            padding-left:3%;
            padding-right:3%;
            border-right: solid black 1px;
            padding-bottom:20px;
        }
        .del{
            margin:0;
            margin-top:-20px;
            margin-bottom:-20px;
            float:left;
            width:43%;
            padding-left:3%;
            padding-right:3%;
            border-left: solid black 1px;
            padding-bottom:20px;
        }

        table {
        border-collapse: collapse;
        width: 100%;
        }

      th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
      }

      th {
        background-color: gray;
        color: white;
      }

    </style>
</head>
<body>

    <div class="grid-container">
        <!-- First Row -->
        <div class="column">   
            <center><h2>Contacts</h2></center>
            <p>email@serbianmovers.com</p>
            <p>www.serbianmvoers.com</p>
            <p>708 292 4802</p>
        </div>
        <div class="column">
            <center><h2><u>Household Good Bill of Ladding</u></h2></center>
            <p>Serbian Movers LLC<br>
            2720 South River Road #100, <br>
            Des Plaines, IL 60018
            </p>
            <p>US DOT: 236436 / ILCC: 234623</p>
            <p></p>
        </div>
        <div class="column">
            <h2>_</h2>
            <p>Bill of Ladding number: <u>IL10<%= moveid %></u></p>
            <p>Date order taken: <u><%= result.start_date %> </u></p>
            <p>Equipment Number:<u>22</u></p>
        </div>
        
        <!-- Second Row -->
        <div class="column span-3"><b>Customer: </b>This Bill of Lading establishes a contract between you and the household goods carrier. It confirms instructions and authorizes the carrier to move, ship , pack and/or perform the services shown. Before you sign this document it is important that you first read entire document, including the back, and that you ask for an explanation of anything that is not clear or that is different from any previous information received from the carrier or the carrier's representatives.
        </div>
        
        <!-- Third Row -->
        <div class="column full-width">
            <div class="pu">
                <u><center><h3>Origin</h3></center></u>
                <u>Customer:</u> <b>
                  <%= result.first_name %> 
                  <%= result.last_name %></b> <br>
                <u>Phone number:</u> <b><%= result.phone %> </b><br>
                <u>Address:</u> <b><%= result.origin_address %></b> , <u>Unit:</u> <b><%= result.origin_address2 %></b><br>
                <u>City:</u> <b><%= result.origin_city %></b> , <u>State:</u> <b><%= result.origin_state %></b> , <u>ZIP:</u> <b><%= result.origin_zipcode %></b> <br>
                <u>Additional pickup:</u> - <br>
            </div>
            <div class="del">
                <u><center><h3>Destination</h3></center></u>
                <u>Customer:</u> <b>
                  <%= result.first_name %> 
                  <%= result.last_name %></b> <br>
                <u>Phone number:</u> <b><%= result.phone %></b><br>
                <u>Address:</u> <b><%= result.destination_address %></b> , <u>Unit:</u> <b><%= result.destination_address2 %></b><br>
                <u>City:</u> <b><%= result.destination_city %></b> , <u>State:</u> <b><%= result.destination_state %></b> , <u>ZIP:</u> <b><%= result.destination_zipcode %></b> <br>
                <u>Additional pickup:</u> - <br>
            </div>
            
        </div>
        
        <!-- Fourth Row -->
        <div class="column span-3"> 
            <center><h3 style="margin-top:-10px;"><u> Intrastate only </u> </h3></center>
            Confirm rate of $<%= result.rate %>/hour for <%= result.crew_size %> movers and <%= result.truck_no %> truck. (2 hour minimum). Customer agrees and understands that Serbian Movers LLC is on the clock upon arrival at origin, through the load, through the drive to destination, and through the unload, until our truck and/or trailer has been fully reassembled. Billed in 15 minutes increments. labor charge + travel charge + all materials - $100 deposit. If customer agrees please sign bellow.
        
            <center><h3> <u> Estimate </u></h3></center>
            I understand this shipment is moving under a non-binding estifdmate. NOTE: if the charges shown on this bill exceed the charges on the non-binding estimate given me by the carrier, the carrier must release the shipment upon the payment of 110% of total payment.
                
            <center><h3> <u> Valuation </u> </h3></center>
            <h4>Declared value of $0.30 per pound per article     - There is no charge for this option</h4>
            <b>Exclusions:</b> Furniture composed of particle board or pressboard;Lamps, mapshades, pictures, mirror,artwork,glass, marble, vases or statues not packed by company. Items found broken in boxes not packed by company; Electronic, audio/visual, computer or battery-operated equipment in transit or storage; Previously damaged or repaired items; Previously damaged or loose veneer; Furniture with the original glue dried out; Any loose items not boxed; Plants (live,artifical, or dried);If one item in a set is damaged, only that one item is covered, not the whole set.
        </div>
        
        
        <!-- Eighth Row -->
        <div class="column full-width">
             
            
            
            <img src="/XUwrKEULfILFeQVuDmVq_signature.png" alt="First signature" style="border:solid 1px black"><br>
          <i> Signature is hashed and secured: <%= result.signature1_hash %> <br>Timestamp: <%= result.signature1_datetime %>
      </i>
      </div>

        <div class="column full-width">
            <center><h3 style="margin-top:-10px;"><u> Details of packing materials </u> </h3></center>
            <table>            
      <form action="/bolmaterials" method="post">
              <tr>
                <th>Description - Carrier pack</th>
                <th><center>Quantity</center></th>
                <th>Rate</th>
              </tr>
              <tr>
                <td>Boxes - 1.5 cuft.</td>
                <td><center><input type="text" name="cpb15" style="margin:0;padding:0;text-align:center;font-size:20px;width:120px;"></center></td>
                <td>$4.65</td>
              </tr>
              <tr>
                <td>Boxes - 3.0 cuft.</td>
                <td><center><input type="text" name="cpb30" style="margin:0;padding:0;text-align:center;font-size:20px;width:120px;"></center></td>
                <td>$6.25</td>
              </tr>
              <tr>
                <td>Boxes - 4.5 cuft.</td>
                <td><center><input type="text" name="cpb45" style="margin:0;padding:0;text-align:center;font-size:20px;width:120px;"></center></td>
                <td>$7.65</td>
              </tr>
              <tr>
                <td>Boxes - 6.0 cuft.</td>
                <td><center><input type="text" name="cpb60" style="margin:0;padding:0;text-align:center;font-size:20px;width:120px;"></center></td>
                <td>$8.45</td>
              </tr>
              <tr>
                <td>Mirror Carton</td>
                <td><center><input type="text" name="cpmirror" style="margin:0;padding:0;text-align:center;font-size:20px;width:120px;"></center></td>
                <td>$18.55</td>
              </tr>
              <tr>
                <td>DishPack box</td>
                <td><center><input type="text" name="cpdishpack" style="margin:0;padding:0;text-align:center;font-size:20px;width:120px;"></center></td>
                <td>$21.55</td>
              </tr>
              <tr>
                <td>Mattress Bag, King/Queen</td>
                <td><center><input type="text" name="cpmattress" style="margin:0;padding:0;text-align:center;font-size:20px;width:120px;"></center></td>
                <td>$24.00</td>
              </tr>
              <tr>
                <th>Description - Materials only (owner pack)</th>
                <th><center>Quantity</center></th>
                <th>Rate</th>
              </tr>
              <tr>
                <td>Boxes - 1.5 cuft.</td>
                <td><center><input type="text" name="opb15" style="margin:0;padding:0;text-align:center;font-size:20px;width:120px;"></center></td>
                <td>$1.65</td>
              </tr>
              <tr>
                <td>Boxes - 3.0 cuft.</td>
                <td><center><input type="text" name="opb30" style="margin:0;padding:0;text-align:center;font-size:20px;width:120px;"></center></td>
                <td>$3.00</td>
              </tr>
              <tr>
                <td>Boxes - 4.5 cuft.</td>
                <td><center><input type="text" name="opb45" style="margin:0;padding:0;text-align:center;font-size:20px;width:120px;"></center></td>
                <td>$4.65</td>
              </tr>
              <tr>
                <td>Boxes - 6.0 cuft.</td>
                <td><center><input type="text" name="opb60" style="margin:0;padding:0;text-align:center;font-size:20px;width:120px;"></center></td>
                <td>$6.25</td>
              </tr>
              <tr>
                <td>Mirror Carton</td>
                <td><center><input type="text" name="opmirror" style="margin:0;padding:0;text-align:center;font-size:20px;width:120px;"></center></td>
                <td>$10.65</td>
              </tr>
              <tr>
                <td>DishPack box</td>
                <td><center><input type="text" name="opdishpack" style="margin:0;padding:0;text-align:center;font-size:20px;width:120px;"></center></td>
                <td>$7.65</td>
              </tr>
              <tr>
                <td>Mattress Bag, King/Queen</td>
                <td><center><input type="text" name="opmattress" style="margin:0;padding:0;text-align:center;font-size:20px;width:120px;"></center></td>
                <td>$21.55</td>
              </tr>
              <tr>
                <td>Tape (per 55 Yd Roll) </td>
                <td><center><input type="text" name="optape" style="margin:0;padding:0;text-align:center;font-size:20px;width:120px;"></center></td>
                <td>$3.00</td>
              </tr>
              <tr>
                <td>Bubble Wrap (per Sq Ft)</td>
                <td><center><input type="text" name="opbubble" style="margin:0;padding:0;text-align:center;font-size:20px;width:120px;"></center></td>
                <td>$1.05</td>
              </tr>
              <center><button type="submit" style="padding:10px;width:120px;margin-top:0px"> SUBMIT </button></center>
              </form>
            </table>
        </div>
    
        <div class="column full-width">
            <center><h3 style="margin-top:-10px;"><u> Details of labor and extra charges </u> </h3></center>
            <label for="start-time" style="font-size:24px;font-weight:bold">Start Time:</label>
            <input type="time" id="start_time" name="start_time" value="<%= result.start_time %>" readonly style="font-size:24px;font-weight:bold">
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            <label for="end-time" style="font-size:24px;font-weight:bold">End Time:</label>
            <input type="time" id="end_time" name="end_time" style="font-size:24px;font-weight:bold">
            <br>
            <br>
            <table>
              <tr>
                <th><center>Description of service</center></th>
                <th><center>Quantity</center></th>
                <th><center>Rate</center></th>
              </tr>
              <tr>
                <td><center><input type="text" name="cpb45" style="margin:0;padding:0;text-align:center;font-size:16px;width:220px;height:22px;" placeholder="Service name"></center></td>
                <td><center><input type="text" name="cpb45" style="margin:0;padding:0;text-align:center;font-size:20px;width:120px;"></center></td>
                <td><center><input type="text" name="cpb45" style="margin:0;padding:0;text-align:center;font-size:20px;width:120px;"></center></td>
               
              </tr>
              <tr>
                <td><center><input type="text" name="cpb45" style="margin:0;padding:0;text-align:center;font-size:16px;width:220px;height:22px;" placeholder="Service name"></center></td>
                
                <td><center><input type="text" name="cpb45" style="margin:0;padding:0;text-align:center;font-size:20px;width:120px;"></center></td>
                
                <td><center><input type="text" name="cpb45" style="margin:0;padding:0;text-align:center;font-size:20px;width:120px;"></center></td>
                
              </tr>
              <tr>
                <td><center><input type="text" name="cpb45" style="margin:0;padding:0;text-align:center;font-size:16px;width:220px;height:22px;" placeholder="Service name"></center></td>
                
                <td><center><input type="text" name="cpb45" style="margin:0;padding:0;text-align:center;font-size:20px;width:120px;"></center></td>
                
                <td><center><input type="text" name="cpb45" style="margin:0;padding:0;text-align:center;font-size:20px;width:120px;"></center></td>
                
              </tr>
            </table>
          <center><button type="submit" style="padding:10px;width:120px;margin-top:30px"> SUBMIT </button></center>
        </div>
      </form>
      </div>
        
 <!-- JAVASCRIPT FOR DRAWING PAD FUNCTIONS -->
     
</body>
</html>