
<div class="pu">
    <u><center><h3>Origin</h3></center></u>
    <u>Customer:</u> <b>
      <%= result.first_name %> 
      <%= result.last_name %></b> <br>
    <u>Phone number:</u> <b><%= result.phone %> </b><br>
    <u>Address:</u> <b><%= result.origin_address %></b> , <u>Unit:</u> <b><%= result.origin_address2 %></b><br>
    <u>City:</u> <b><%= result.origin_city %></b> , <u>State:</u> <b><%= result.origin_state %></b> , <u>ZIP:</u> <b><%= result.origin_zipcode %></b> <br>
    <u>Additional pickup:</u> - <br>
</div>
<div class="del">
    <u><center><h3>Destination</h3></center></u>
    <u>Customer:</u> <b>
      <%= result.first_name %> 
      <%= result.last_name %></b> <br>
    <u>Phone number:</u> <b><%= result.phone %></b><br>
    <u>Address:</u> <b><%= result.destination_address %></b> , <u>Unit:</u> <b><%= result.destination_address2 %></b><br>
    <u>City:</u> <b><%= result.destination_city %></b> , <u>State:</u> <b><%= result.destination_state %></b> , <u>ZIP:</u> <b><%= result.destination_zipcode %></b> <br>
    <u>Additional pickup:</u> - <br>
</div>
